<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADDomain</key>
	<string></string>
	<key>KerberosRealm</key>
	<string></string>
	<key>Verbose</key>
	<false/>
	<key>userCommandHotKey1</key>
	<string></string>
	<key>userCommandName1</key>
	<string></string>
	<key>userCommandTask1</key>
	<string></string>
	<key>SecondsToRenew</key>
	<integer>7200</integer>
	<key>RenewTickets</key>
	<true/>
	<key>userPasswordExpireDate</key>
	<string></string>
	<key>PasswordExpireAlertTime</key>
	<integer>1296000</integer>
	<key>LastPasswordWarning</key>
	<string>1296000</string>
	<key>HidePrefs</key>
	<false/>
	<key>ExpeditedLookup</key>
	<false/>
	<key>displayName</key>
	<string></string>
	<key>LastCertificateExpiration</key>
	<string></string>
	<key>LoginComamnd</key>
	<string></string>
	<key>x509CA</key>
	<string></string>
	<key>Template</key>
	<string></string>
	<key>UserPasswordSetDates</key>
	<dict/>
</dict>
</plist>
