<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
    <dict>
        <key>Version</key>
        <integer>1</integer>
        <key>Actions</key>
        <array>
            <dict>
                <key>Name</key>
                <string>Action the first</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Action the second</string>
            </dict>
        </array>
    </dict>
</plist>