<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lock Screen</key>
	<dict>
		<key>value</key>
		<string>Écran Verrouillé</string>
		<key>comment</key>
		<string>Menu Item to Lock the Screen</string>
	</dict>
	<key>NoMADMenuController-LogIn</key>
	<dict>
		<key>value</key>
		<string>Connecter</string>
		<key>comment</key>
		<string>Menu item to Sign In</string>
	</dict>
	<key>NoMADMenuController-Connected</key>
	<dict>
		<key>value</key>
		<string></string>
		<key>comment</key>
		<string>Text in the menu bar to show that NoMAD can find the Domain</string>
	</dict>
	<key>NoMADMenuController-NotConnected</key>
	<dict>
		<key>value</key>
		<string>Pas connecté</string>
		<key>comment</key>
		<string>Text in the menu bar to show that NoMAD can not find the Domain</string>
	</dict>
	<key>NoMADMenuController-ChangePassword</key>
	<dict>
		<key>value</key>
		<string>Changer le mot de passe</string>
		<key>comment</key>
		<string>Menu Item to Change Password</string>
	</dict>
	<key>UserName</key>
	<dict>
		<key>value</key>
		<string>Nom d&apos;utilisateur</string>
		<key>comment</key>
		<string>Users&apos;s full name.</string>
	</dict>
	<key>NoMADMenuController-GetSoftware</key>
	<dict>
		<key>comment</key>
		<string>Menu item to open software portal.</string>
		<key>value</key>
		<string>Obtenir le logiciel</string>
	</dict>
	<key>NoMADMenuController-GetHelp</key>
	<dict>
		<key>value</key>
		<string>Obtenir de l&apos;aide</string>
		<key>comment</key>
		<string>Menu item to open up the support options.</string>
	</dict>
	<key>NoMADMenuController-Preferences</key>
	<dict>
		<key>value</key>
		<string>Préférences</string>
		<key>comment</key>
		<string>Menu item to open Preferences window.</string>
	</dict>
</dict>
</plist>
