<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lock Screen</key>
	<dict>
		<key>value</key>
		<string>Vérouiller l'écran</string>
		<key>comment</key>
		<string>Menu Item to Lock the Screen</string>
	</dict>
	<key>NoMADMenuController-LogIn</key>
	<dict>
		<key>value</key>
		<string>Se connecter</string>
		<key>comment</key>
		<string>Menu item to Sign In</string>
	</dict>
	<key>NoMADMenuController-Connected</key>
	<dict>
		<key>value</key>
		<string></string>
		<key>comment</key>
		<string>Text in the menu bar to show that NoMAD can find the Domain</string>
	</dict>
	<key>NoMADMenuController-NotConnected</key>
	<dict>
		<key>value</key>
		<string>Pas connecté</string>
		<key>comment</key>
		<string>Text in the menu bar to show that NoMAD can not find the Domain</string>
	</dict>
	<key>NoMADMenuController-ChangePassword</key>
	<dict>
		<key>value</key>
		<string>Changer le mot de passe</string>
		<key>comment</key>
		<string>Menu Item to Change Password</string>
	</dict>
	<key>UserName</key>
	<dict>
		<key>value</key>
		<string>Nom d&apos;utilisateur</string>
		<key>comment</key>
		<string>Users&apos;s full name.</string>
	</dict>
	<key>NoMADMenuController-GetSoftware</key>
	<dict>
		<key>comment</key>
		<string>Menu item to open software portal.</string>
		<key>value</key>
		<string>Logiciels à la demande</string>
	</dict>
	<key>NoMADMenuController-GetHelp</key>
	<dict>
		<key>value</key>
		<string>Obtenir de l&apos;aide</string>
		<key>comment</key>
		<string>Menu item to open up the support options.</string>
	</dict>
	<key>NoMADMenuController-Preferences</key>
	<dict>
		<key>value</key>
		<string>Préférences</string>
		<key>comment</key>
		<string>Menu item to open Preferences window.</string>
	</dict>
	<key>NoMADMenuController-RenewTickets</key>
	<dict>
		<key>comment</key>
		<string>Menu item to renew Kerberos tickets</string>
		<key>value</key>
		<string>Renouveler le ticket</string>
	</dict>
	<key>NoMADMenuController-PasswordExpiresInDays</key>
	<dict>
		<key>comment</key>
		<string>Long text for how many days until your password expires</string>
		<key>value</key>
		<string>Le mot de passe expire dans %@ jours</string>
	</dict>
	<key>PasswordDoesNotExpire</key>
	<dict>
		<key>value</key>
		<string>Le mot de passe n&apos;expire jamais</string>
		<key>comment</key>
		<string>menu item for when the password has no expiration date</string>
	</dict>
	<key>d</key>
	<dict>
		<key>value</key>
		<string>j</string>
		<key>comment</key>
		<string>short form of days</string>
	</dict>
</dict>
</plist>
