<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAConfigError</key>
	<dict>
		<key>comment</key>
		<string>error when CA can't be found</string>
		<key>value</key>
		<string>Sørg for at parametrene for CA er korrekte</string>
	</dict>
	<key>Cancel</key>
	<dict>
		<key>comment</key>
		<string>button for cancelling actions</string>
		<key>value</key>
		<string>Annuller</string>
	</dict>
	<key>CertConnectionError</key>
	<dict>
		<key>comment</key>
		<string>message when Certificate Authority can't be reached</string>
		<key>value</key>
		<string>Tilslutning fejlede! Sørg for at SSL certifikat er gyldigt og adresse til X509 CA er korrekt.</string>
	</dict>
	<key>Edit...</key>
	<dict>
		<key>comment</key>
		<string>Menu item for editing</string>
		<key>value</key>
		<string>Redigere...</string>
	</dict>
	<key>FileServers</key>
	<dict>
		<key>comment</key>
		<string>Menu item for File Servers</string>
		<key>value</key>
		<string>Filservere</string>
	</dict>
	<key>HomeSharepoint</key>
	<dict>
		<key>comment</key>
		<string>Menu item for opening up a user's home sharepoint from their AD profile</string>
		<key>value</key>
		<string>Hjemmemappe</string>
	</dict>
	<key>InvalidPassword</key>
	<dict>
		<key>comment</key>
		<string>error when password is wrong</string>
		<key>value</key>
		<string>Ugyldig adgangskode. Prøv venligst igen</string>
	</dict>
	<key>InvalidUsername</key>
	<dict>
		<key>comment</key>
		<string>error when username is wrong</string>
		<key>value</key>
		<string>Ugyldigt brugernavn. Prøv venligst igen</string>
	</dict>
	<key>Lock Screen</key>
	<dict>
		<key>comment</key>
		<string>Menu Item to Lock the Screen</string>
		<key>value</key>
		<string>Lås skærm</string>
	</dict>
	<key>LoginWindow-OldPasswordLabel</key>
	<dict>
		<key>comment</key>
		<string>Label for old password</string>
		<key>value</key>
		<string>Gammel adgangskode</string>
	</dict>
	<key>LoginWindow-PasswordLabel</key>
	<dict>
		<key>comment</key>
		<string>Label for password</string>
		<key>value</key>
		<string>Adgangskode</string>
	</dict>
	<key>NetworkLocalMismatch</key>
	<dict>
		<key>comment</key>
		<string>error when network and local passwords do not match</string>
		<key>value</key>
		<string>Din lokale adgangskode og netværks adgangskoden matcher ikke. Indtast din lokale adgangskode for at opdatere med netværks adgangskoden.</string>
	</dict>
	<key>NoMADMenuController-ChangePassword</key>
	<dict>
		<key>comment</key>
		<string>Menu Item to Change Password</string>
		<key>value</key>
		<string>Skift adgangskode</string>
	</dict>
	<key>NoMADMenuController-Connected</key>
	<dict>
		<key>comment</key>
		<string>Text in the menu bar to show that NoMAD can find the Domain</string>
		<key>value</key>
		<string>Ikke logget ind</string>
	</dict>
	<key>NoMADMenuController-GetHelp</key>
	<dict>
		<key>comment</key>
		<string>Menu item to open up the support options.</string>
		<key>value</key>
		<string>Få hjælp</string>
	</dict>
	<key>NoMADMenuController-GetSoftware</key>
	<dict>
		<key>comment</key>
		<string>Menu item to open software portal.</string>
		<key>value</key>
		<string>Hent software</string>
	</dict>
	<key>NoMADMenuController-NoUser</key>
	<dict>
		<key>comment</key>
		<string>User info when no user is available</string>
		<key>value</key>
		<string>Ingen Bruger</string>
	</dict>
	<key>NoMADMenuController-NotConnected</key>
	<dict>
		<key>comment</key>
		<string>Text in the menu bar to show that NoMAD can not find the Domain</string>
		<key>value</key>
		<string>Ikke logget ind</string>
	</dict>
	<key>NoMADMenuController-NotLoggedIn</key>
	<dict>
		<key>comment</key>
		<string>User info for ticket life when not signed in</string>
		<key>value</key>
		<string>Ikke logget ind.</string>
	</dict>
	<key>NoMADMenuController-NotSignedIn</key>
	<dict>
		<key>comment</key>
		<string>User info when not signed in</string>
		<key>value</key>
		<string>Ikke logget ind</string>
	</dict>
	<key>NoMADMenuController-PasswordExpiresInDays</key>
	<dict>
		<key>comment</key>
		<string>Long text for how many days until your password expires</string>
		<key>value</key>
		<string>Adgangskode udøber om %@ dag(e)</string>
	</dict>
	<key>NoMADMenuController-Preferences</key>
	<dict>
		<key>comment</key>
		<string>Menu item to open Preferences window.</string>
		<key>value</key>
		<string>Præferencer</string>
	</dict>
	<key>NoMADMenuController-Quit</key>
	<dict>
		<key>comment</key>
		<string>Menu item to quit NoMAD.</string>
		<key>value</key>
		<string>Afslut</string>
	</dict>
	<key>NoMADMenuController-RenewTickets</key>
	<dict>
		<key>comment</key>
		<string>Menu item to renew Kerberos tickets</string>
		<key>value</key>
		<string>Forny billet</string>
	</dict>
	<key>NoMADMenuController-SignInWithSmartcard</key>
	<dict>
		<key>comment</key>
		<string>PKINIT smartcard menu sign in tool tip</string>
		<key>value</key>
		<string>Log ind med Smartcard.</string>
	</dict>
	<key>NoMADMenuController-SmartcardSignIn</key>
	<dict>
		<key>comment</key>
		<string>PKINIT smartcard menu sign in</string>
		<key>value</key>
		<string>Smartcard Log ind</string>
	</dict>
	<key>PasswordAboutToExpire</key>
	<dict>
		<key>comment</key>
		<string>message when password is about to expire</string>
		<key>value</key>
		<string>Din adgangskode er tæt på at udløbe - skift den!</string>
	</dict>
	<key>PasswordChangeSuccessful</key>
	<dict>
		<key>comment</key>
		<string>message to let user know password changed successfully</string>
		<key>value</key>
		<string>Din adgangskode er blevet ændret. Bemærk at der kan gå op til en time før det er fuldstændig opdateret (alle steder).</string>
	</dict>
	<key>PasswordDoesNotExpire</key>
	<dict>
		<key>comment</key>
		<string>menu item for when the password has no expiration date</string>
		<key>value</key>
		<string>Din adgangskode udløber aldrig</string>
	</dict>
	<key>PasswordExpire</key>
	<dict>
		<key>comment</key>
		<string>error when password has expired</string>
		<key>value</key>
		<string>Din adgangskode er udløbet.</string>
	</dict>
	<key>PasswordExpiresOn</key>
	<dict>
		<key>comment</key>
		<string>Your network password is about to expire on &lt;date&gt;</string>
		<key>value</key>
		<string>Din netværks adgangskode udløber</string>
	</dict>
	<key>PasswordMismatch</key>
	<dict>
		<key>comment</key>
		<string>error when new passwords don't match</string>
		<key>value</key>
		<string>De nye adgangskoder er ikke ens</string>
	</dict>
	<key>RequestAnyway</key>
	<dict>
		<key>comment</key>
		<string>button to request anyway</string>
		<key>value</key>
		<string>Anmod alligevel</string>
	</dict>
	<key>SignIn</key>
	<dict>
		<key>comment</key>
		<string>Menu item to Sign In</string>
		<key>value</key>
		<string>Log ind</string>
	</dict>
	<key>UserInformation-Ignore</key>
	<dict>
		<key>comment</key>
		<string>Password change notification ignore button</string>
		<key>value</key>
		<string>Ignorere</string>
	</dict>
	<key>UserInformation-PasswordChanged</key>
	<dict>
		<key>comment</key>
		<string>Notification title when password changed</string>
		<key>value</key>
		<string>Adgangskode Skifted</string>
	</dict>
	<key>UserInformation-PwdChangedSignInAgain</key>
	<dict>
		<key>comment</key>
		<string>Notification text asking to sign in again</string>
		<key>value</key>
		<string>Din adgangskode er blevet ændret, log ind igen for at opdatere din adgangskode.</string>
	</dict>
	<key>UserName</key>
	<dict>
		<key>comment</key>
		<string>User's full name</string>
		<key>value</key>
		<string>Brugernavn</string>
	</dict>
	<key>ValidCertificate</key>
	<dict>
		<key>comment</key>
		<string>user already has a valid certificate</string>
		<key>value</key>
		<string>Har gyldigt certifkat</string>
	</dict>
	<key>d</key>
	<dict>
		<key>comment</key>
		<string>short form of days</string>
		<key>value</key>
		<string>d</string>
	</dict>
</dict>
</plist>
