<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lock Screen</key>
	<dict>
		<key>value</key>
		<string>Lås Skärmen</string>
		<key>comment</key>
		<string>Menyentry för att låsa skärmen</string>
	</dict>
	<key>NoMADMenuController-LogIn</key>
	<dict>
		<key>value</key>
		<string>Logga in</string>
		<key>comment</key>
		<string>Menyentry för att logga in</string>
	</dict>
	<key>NoMADMenuController-Connected</key>
	<dict>
		<key>value</key>
		<string></string>
		<key>comment</key>
		<string>Felmeddelande i menyn att NoMAD inte kan hitta Domänen</string>
	</dict>
	<key>NoMADMenuController-NotConnected</key>
	<dict>
		<key>value</key>
		<string>Ej ansluten</string>
		<key>comment</key>
		<string>Felmeddelande i menyn att NoMAD inte kan hitta Domänen</string>
	</dict>
	<key>NoMADMenuController-ChangePassword</key>
	<dict>
		<key>value</key>
		<string>Ändra lösenord</string>
		<key>comment</key>
		<string>Menyentry om att ändra lösenord</string>
	</dict>
	<key>UserName</key>
	<dict>
		<key>value</key>
		<string>Namn</string>
		<key>comment</key>
		<string>Användarens Namn</string>
	</dict>
	<key>NoMADMenuController-GetSoftware</key>
	<dict>
		<key>comment</key>
		<string>Menu item to open software portal.</string>
		<key>value</key>
		<string>Get Software</string>
	</dict>
	<key>NoMADMenuController-GetHelp</key>
	<dict>
		<key>value</key>
		<string>Get Help</string>
		<key>comment</key>
		<string>Menu item to open up the support options.</string>
	</dict>
	<key>NoMADMenuController-Preferences</key>
	<dict>
		<key>value</key>
		<string>Preferences</string>
		<key>comment</key>
		<string>Menu item to open Preferences window.</string>
	</dict>
	<key>NoMADMenuController-Quit</key>
	<dict>
		<key>value</key>
		<string>Quit</string>
		<key>comment</key>
		<string>Menu item to quit NoMAD.</string>
	</dict>
	<key>NoMADMenuController-RenewTickets</key>
	<dict>
		<key>comment</key>
		<string>Menu item to renew Kerberos tickets</string>
		<key>value</key>
		<string>Renew Tickets</string>
	</dict>
	<key>NoMADMenuController-PasswordExpiresInDays</key>
	<dict>
		<key>comment</key>
		<string>Long text for how many days until your password expires</string>
		<key>value</key>
		<string>Password expires in: %@ days</string>
	</dict>
	<key>PasswordDoesNotExpire</key>
	<dict>
		<key>value</key>
		<string>Password does not expire</string>
		<key>comment</key>
		<string>menu item for when the password has no expiration date</string>
	</dict>
	<key>PasswordChangeSuccessful</key>
	<dict>
		<key>value</key>
		<string>Password changed successfully. Note: it may take up to an hour for your password expiration time to be updated.</string>
		<key>comment</key>
		<string>message to let user know password changed successfully</string>
	</dict>
	<key>InvalidPassword</key>
	<dict>
		<key>value</key>
		<string>Invalid password. Please try again.</string>
		<key>comment</key>
		<string>error when password is wrong</string>
	</dict>
	<key>InvalidUsername</key>
	<dict>
		<key>value</key>
		<string>Invalid username. Please try again.</string>
		<key>comment</key>
		<string>error when username is wrong</string>
	</dict>
	<key>PasswordExpire</key>
	<dict>
		<key>value</key>
		<string>Your password has expired. Please reset your password now.</string>
		<key>comment</key>
		<string>error when password has expired</string>
	</dict>
	<key>PasswordAboutToExpire</key>
	<dict>
		<key>value</key>
		<string>Password about to expire!</string>
		<key>comment</key>
		<string>message when password is about to expire</string>
	</dict>
	<key>PasswordExpiresOn</key>
	<dict>
		<key>value</key>
		<string>Your network password is about to expire on </string>
		<key>comment</key>
		<string>Your network password is about to expire on &lt;date&gt;</string>
	</dict>
	<key>PasswordMismatch</key>
	<dict>
		<key>value</key>
		<string>New passwords don&apos;t match.</string>
		<key>comment</key>
		<string>error when new passwords don&apos;t match</string>
	</dict>
	<key>NetworkLocalMismatch</key>
	<dict>
		<key>value</key>
		<string>Your network and local passwords are not the same. Please enter the password for your Mac.</string>
		<key>comment</key>
		<string>error when network and local passwords do not match</string>
	</dict>
	<key>ValidCertificate</key>
	<dict>
		<key>value</key>
		<string>You already have a valid certificate.</string>
		<key>comment</key>
		<string>user already has a valid certificate</string>
	</dict>
	<key>Cancel</key>
	<dict>
		<key>value</key>
		<string>Cancel</string>
		<key>comment</key>
		<string>button for cancelling actions</string>
	</dict>
	<key>RequestAnyway</key>
	<dict>
		<key>value</key>
		<string>Request Anyway</string>
		<key>comment</key>
		<string>button to request anyway</string>
	</dict>
	<key>CertConnectionError</key>
	<dict>
		<key>value</key>
		<string>Connection error. Please ensure SSL certificates are trusted and the URL is correct for your X509 CA.</string>
		<key>comment</key>
		<string>message when Certificate Authority can&apos;t be reached</string>
	</dict>
	<key>CAConfigError</key>
	<dict>
		<key>value</key>
		<string>Please ensure your Certificate Authority settings are correct.</string>
		<key>comment</key>
		<string>error when CA can&apos;t be found</string>
	</dict>
	<key>d</key>
	<dict>
		<key>value</key>
		<string>d</string>
		<key>comment</key>
		<string>short form of days</string>
	</dict>
	<key>HomeSharepoint</key>
	<dict>
		<key>value</key>
		<string>Home Sharepoint</string>
		<key>comment</key>
		<string>Menu item for opening up a user&apos;s home sharepoint from their AD profile</string>
	</dict>
</dict>
</plist>
